#Junk Files
*.DS_Store
[Tt]humbs.db
.vs/*
.vs
#Visual Studio Files
[Oo]bj
[Bb]in
[Dd]ebug
[Bb]uild/
*.user
*.suo
*.exe
*.pdb
*.aps
*_i.c
*_p.c
*.ncb
*.tlb
*.tlh
*.[Cc]ache
*.bak
*.ncb
*.trc
*.ilk
*.log
*.lib
*.sbr
*.sdf
ipch/ 
*.dbmdl
*.csproj.user
*.cache
*.swp
*.vspscc
*.vssscc
*.bak.*
*.bak

#Tools
_ReSharper.*
_ReSharper*/
*.resharper
*.resharper.user
[Nn][Dd]epend[Oo]ut*/
Ankh.NoLoad

#Other
.svn















# See http://help.github.com/ignore-files/ for more about ignoring files.
/CustomerPortalWebApi/bin/*
/CustomerPortalWebApi/obj/*

.CustomerPortalWebApi/bin/*
.CustomerPortalWebApi/obj/*

CustomerPortalWebApi/bin/*
CustomerPortalWebApi/obj/*
# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out
/obj
/bin
/publish
/.vscode/*

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
vscode/*
# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
CustomerPortalWebApi/.vscode/launch.json
CustomerPortalWebApi/.vscode/tasks.json
CustomerPortalWebApi/bin/Debug/netcoreapp3.1/CustomerPortalWebApi.dll
CustomerPortalWebApi/bin/Debug/netcoreapp3.1/CustomerPortalWebApi.exe
CustomerPortalWebApi/bin/Debug/netcoreapp3.1/CustomerPortalWebApi.pdb
CustomerPortalWebApi/bin/Debug/netcoreapp3.1/CustomerPortalWebApi.runtimeconfig.dev.json
CustomerPortalWebApi/bin/Release/netcoreapp3.1/appsettings.json
CustomerPortalWebApi/bin/Release/netcoreapp3.1/CustomerPortalWebApi.dll
CustomerPortalWebApi/bin/Release/netcoreapp3.1/CustomerPortalWebApi.exe
CustomerPortalWebApi/bin/Release/netcoreapp3.1/CustomerPortalWebApi.pdb
CustomerPortalWebApi/bin/Release/netcoreapp3.1/CustomerPortalWebApi.runtimeconfig.dev.json
CustomerPortalWebApi/obj/CustomerPortalWebApi.csproj.nuget.dgspec.json
CustomerPortalWebApi/obj/CustomerPortalWebApi.csproj.nuget.g.props
CustomerPortalWebApi/obj/project.assets.json
CustomerPortalWebApi/obj/project.nuget.cache
CustomerPortalWebApi/obj/Debug/netcoreapp3.1/CustomerPortalWebApi.csproj.CoreCompileInputs.cache
CustomerPortalWebApi/obj/Debug/netcoreapp3.1/CustomerPortalWebApi.csproj.FileListAbsolute.txt
CustomerPortalWebApi/obj/Debug/netcoreapp3.1/CustomerPortalWebApi.dll
CustomerPortalWebApi/obj/Debug/netcoreapp3.1/CustomerPortalWebApi.exe
CustomerPortalWebApi/obj/Debug/netcoreapp3.1/CustomerPortalWebApi.pdb
CustomerPortalWebApi/obj/Release/netcoreapp3.1/CustomerPortalWebApi.csproj.CoreCompileInputs.cache
CustomerPortalWebApi/obj/Release/netcoreapp3.1/CustomerPortalWebApi.csproj.FileListAbsolute.txt
CustomerPortalWebApi/obj/Release/netcoreapp3.1/CustomerPortalWebApi.dll
CustomerPortalWebApi/obj/Release/netcoreapp3.1/CustomerPortalWebApi.exe
CustomerPortalWebApi/obj/Release/netcoreapp3.1/CustomerPortalWebApi.pdb

.vs
