<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RDLC.Properties.Settings.MYLABWEBConnectionString"
            connectionString="Data Source=103.131.93.13;Initial Catalog=MYLABWEB;Persist Security Info=True;User ID=MYLAB;Password=MYLAB@123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>